html {
    font-family: serif;
    color: CanvasText;
}

html {
    display: block;
}

body {
    display: block;
    margin: 8px;
}

head {
    display: none;
}

area, base, basefont, datalist, head, link, meta, noembed,
noframes, param, rp, script, style, template, title {
    display: none;
}

address, blockquote, center, dialog, div, figure, figcaption, footer, form,
header, hr, legend, listing, main, p, plaintext, pre, search, xmp {
    display: block;
}

div {
    display: block;
}
